<section class="container">
    <div class="row">
        <h1 class="twelve columns">All Cards</h1>
    </div>

    <div class="row">
        <hr>
        <%= form_for @picture, url: {controller: "pictures", action: "create"} do |f| %>
            <p>
                <%= f.label "Name" %><br>
                <%= f.text_field :artist %>
            </p>
            <p>
                <%= f.label :title %><br>
                <%= f.text_field :title %>
            </p>
            <p>
                <%= f.label :url %><br>
                <%= f.text_field :url %>
            </p>
            <p>
                <%= f.submit "Save" %>
            </p>
        <% end %>
        <hr>
    </div>

    <div class="cards-list">
    <% @pictures.each_slice(2) do |slice| %>
        <div class="row">

            <% slice.each do |picture| %>
                <div class="card one-half column">
                    <div class="image-wrap">
                        <%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
                    </div>
                    <h5><%= picture.artist %></h5>
                    <p><%= picture.title %></p>

                    <a href="javascript:void(0)" class="button button-primary">Add to Deck</a>
                </div>
            <% end %>

        </div>
    <% end %>
    </div>
</section>
